.burgerIngredientsContainer {
    position: absolute;
    width: 600px;
    height: 912px;
    left: 380px;
    top: 128px;
    background: #131316;
    display: flexbox;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerHeaderTextContainer {
    width: 600px;
    height: 40px;
    left: 0px;
    top: 40px;
    background: #131316;
}
.burgerTabsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 600px;
    height: 56px;
    left: 0px;
    top: 100px;
    margin-top: 20px;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerTabsContentContainer{
    width: 580px;
    height: 756px;
    left: 0px;
    top: 156px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0px;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerIngredientsBreadHeader{
    width: 600px;
    height: 30px;
    left: 0px;
    margin-top: 40px;
    background: #131316;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerIngredientsColumnsPuns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 580px;
    height: 208px;
    left: 0px;
    top: 94px;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerIngredientsColumn1{
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    width: 272px;
    height: 208px;
    left: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerIngredientsColumn2{
    composes: burgerIngredientsColumn1;
    left: 300px;
    order: 1;
}
.burgerIngredientsItemContainer{
    width: 272px;
    height: 208px;
    flex: none;
    order: 0;
    flex-grow: 0;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
}
.burgerIngredientsCounter{
    position: relative;
    width: 32px;
    height: 32px;
    left: 240px;
    right: 0px;
    top: 0px;
    background: #131316;
}
.burgerItem2Container{
    composes: burgerIngredientsItemContainer;
    order: 1;
}
.burgerIngredientsContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 272px;
    height: 208px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.burgerIngredientsImg{
    object-fit: cover;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.burgerIngredientsPrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 62px;
    height: 24px;
    top: 128px;
    left: 105px;
    background: #131316;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.burgerIngredientsDescription1{
    width: 272px;
    height: 48px;
    top: 160px;
    background: #131316;
    flex: none;
    order: 2;
    flex-grow: 1;
    text-align: center;
}
.brugerIngredientsDescription2{
    composes: burgerIngredientsDescription1;
    flex-grow: 0;
}
.burgerIngredientsColumnsSauses{
    composes:burgerIngredientsColumnsPuns;
    height: 472px;
    top: 396px;

}
.burgerIngredientsSauseHeader{
    composes:burgerIngredientsBreadHeader;
    flex-direction: column;
    margin-top: 40px;
}
.burgerIngredientsColumn3{
    composes:burgerIngredientsColumn1;
    flex-direction: column;
}

@-moz-document url-prefix() {
	:root {
		scrollbar-color: #8585AD #2F2F37;
	}
}

.customScroll::-webkit-scrollbar {
	width: 12px;
}
.customScroll::-webkit-scrollbar-track {
	background: #2F2F37;
}
.customScroll::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}
