.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;

    position: absolute;
    left: 38%;
    right: 38%;
    top: 26.67%;
    bottom: 37.22%;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;

    width: 480px;
    height: 286px;



    flex: none;
    order: 2;
    flex-grow: 0;
}
.titleContainer{
    display: flex;
    align-items: center;
    text-align: center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 480px;
    height: 56px;


  

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
.additionalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 480px;
    height: 24px;




    flex: none;
    order: 3;
    flex-grow: 0;
}
.additionalContainer a{
    text-decoration: none;
}