.headerContainer {
    margin: 0 auto;
    padding: 16px 320px 16px 320px;
    justify-content: center;
    width:100%;
    Top: 40px;
    Left: 40px;
    display: inline-flex;
    box-sizing: border-box;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.headerConstructorLinkContainer {
    Width: 178px;
    Height: 56px;
    Gap: 8px;
    margin: 0 8px 0 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    width: 178px;
    height: 56px;
    background: #1C1C21;
    border: none;
    border-radius: 40px;
    color: #8585AD;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.headerConstructorLinkContainer:active{
    color: #F2F2F3;
}
.headerOrderListLinkContainer{
    composes: headerConstructorLinkContainer;
    Left: 186px;
    margin-right: 112px;
    
}

.headerProfileLinkContainer {
    composes: headerConstructorLinkContainer;
    width: 207px;
    left: 1073px;
    

}
.headerLinkIcon {
    min-width: 24px;
    min-height: 24px;
    background: #000000;
    display: flex;
}
.headerText{
    width: 114px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7d7d9c;
}
.active{
    color: #F2F2F3;
}
.headerLogoContainer {
    left: 495px;
     margin-right: 288.85px; 
    background: #1C1C21;
}