.burgerConstructorContainer{
    position: absolute;
    width: 600px;
    height: 912px;
    left: 1020px;
    top: 128px;
}
.burgerConstructorItemsContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 568px;
    height: 656px;
    left: 16px;
    top: 100px;
    scrollbar-color: #2F2F37 #8585AD;
	scrollbar-width: thin;
    
}
.burgerConstructorItemContainer{
    width: 568px;
    /* height: 80px; */
    
    display: flex;
    order: 0;
    flex-grow: 0;
}
.burgerDragIconContainer{
    padding: 15px;
    margin-top: 10px;
}
.burgerDragIconContainerForBuns{
    composes:burgerDragIconContainer;
    visibility: hidden; 
}
.constructorElementContainer{
    margin-top: 25px;
    border: 1px red solid;
}

.burgerConstructorPayInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: relative;
    width: 568px;
    height: 64px;
    left: 16px;
    top: 796px;
}
.burgerConstructorFinalPrice{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@-moz-document url-prefix() {
	:root {
		scrollbar-color: #8585AD #2F2F37;
	}
}

.customScroll::-webkit-scrollbar {
	width: 12px;
}
.customScroll::-webkit-scrollbar-track {
	background: #2F2F37;
}
.customScroll::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}