.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;
    position: absolute;
    left: 38%;
    right: 38%;
    top: 26.67%;
    bottom: 29.07%;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;

    width: 480px;
    height: 374px;



    flex: none;
    order: 2;
    flex-grow: 0;
}
.titleContainer{
    width: 480px;
    height: 30px;
    background: #131316;
    /* border: 2px dashed #4C4CFF; */
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 480px;
    height: 56px;




    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}
.additionalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    gap: 8px;
    
    width: 480px;
    height: 24px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.additionalContainer a {
    text-decoration: none;
}